<div class="container-fluid">
    <div class="header text-center">
        <div style="font-size: 6rem;">GitG<span>
        <img width="85" alt="Angular Logo" src="../assets/images/github.png" style="padding-bottom: 2%;" /></span>ogle
        </div><br><br>
        <div class="links">
            <h1>Find users on github 🧐 </h1>
            <h4>Look through the lense, <br> might just find yourself</h4><br><br><br><br><br><br><br>

            <i class="fas fa-angle-double-down" style="font-size: 2rem;"></i>
        </div>
    </div>
</div>