<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div style="font-size: 1.8rem;"><span>
      <img width="30" alt="github logo" style="padding-bottom: 10%;" src="./assets/images/github.png" /></span>
    </div>


    <div class="collapse navbar-collapse show" [ngClass]="{ show: navbarOpen }" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Dev</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Code Radio 📻 </a>
            </li>
        </ul>
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="faBell"></fa-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="faUser"></fa-icon>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#users" role="button" aria-haspopup="true" aria-expanded="false">Brian Kiiru</a>
                <div class="dropdown-menu" id="users">
                    <a class="dropdown-item" href="#">User2</a>
                    <a class="dropdown-item" href="#">User3</a>
                    <a class="dropdown-item" href="#">User4</a>
                </div>
            </li>
        </ul>
    </div>
</nav>